@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-fade-in {
        animation: fadeIn 0.3s ease-out forwards;
    }

    .animate-fade-in-out {
        animation: fadeInOut 3s ease-in-out forwards;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(10px);
    }
}

.prose {
    color: #d1d5db;
}

.prose h1,
.prose h2,
.prose h3 {
    color: #fff;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-100px) translateX(50px);
        opacity: 0.7;
    }

    100% {
        transform: translateY(-200px) translateX(0);
        opacity: 0;
    }
}